---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
---

<script>
  import { config } from '../../libs/CookieConsentConfig';
  import { run } from 'vanilla-cookieconsent';

  if (typeof window !== 'undefined') {
    run(config);


     // Escuchar el consentimiento del usuario
     window.addEventListener('cc-accept-cookies', function (event) {
       const acceptedCategories = event.detail.acceptedCategories;

       // Actualizar el consentimiento en Google Tag Manager
       gtag('consent', 'update', {
         'ad_storage': acceptedCategories.includes('analytics') ? 'granted' : 'denied',
         'analytics_storage': acceptedCategories.includes('analytics') ? 'granted' : 'denied',
         'functionality_storage': acceptedCategories.includes('functionality') ? 'granted' : 'denied'
       });
     });
  }
</script>

<div id="cc-container">
  <!-- El banner de cookies se generará automáticamente -->
</div>