---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
---

<script>
  import config from '../../libs/CookieConsentConfig';

  document.addEventListener('DOMContentLoaded', () => {
    if (typeof window.initCookieConsent !== 'function') {
      console.error('vanilla-cookieconsent no está disponible.');
      return;
    }

    const cc = window.initCookieConsent();
    cc.run(config);
  });
</script>

<div id="cc-container"></div>
