---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'Solicitud de presupuesto para Calendarios para empresas 2025',
  jsonLd: {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Calendarios Personalizados para empresa 2025",
    "url": "https://calendarios.reprodisseny.com",
    "logo": "",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+34 932 749 890",
      "contactType": "Atención al Cliente",
      "email": "comercial@reprodisseny.com",
      "areaServed": "ES",
      "availableLanguage": ["es", "en"]
    },
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Juan de Mena, 19",
      "addressLocality": "Barcelona",
      "addressRegion": "Cataluña",
      "postalCode": "08035",
      "addressCountry": "ES"
    },
    "sameAs": [
      "https://www.instagram.com/reprodissenybcn/?hl=es",
      "https://es.linkedin.com/company/repro-disseny-s.l"
    ],
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://calendarios.reprodisseny.com/busqueda?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
};

// Obtener `tipo_calendario` en el servidor para el título y la lógica del formulario
const url = new URL(Astro.request.url);
const tipoCalendario = url.searchParams.get('tipo_calendario') || 'Calendario de Pared Tipo Revista'; // Valor por defecto si no se proporciona

// Definir campos del formulario sin incluir "tipo_calendario"
const inputs = [
  { type: 'text', name: 'nombre', label: 'Nombre' },
  { type: 'email', name: 'email', label: 'Correo electrónico', required: true },
  { type: 'tel', name: 'telefono', label: 'Teléfono', required: true, pattern: '^[0-9]{9}$' },
  { type: 'select', name: 'cantidad', label: 'Cantidad', options: [{ value: '100', label: '100' }, { value: '200', label: '200' }, { value: '500', label: '500' }, { value: '750', label: '750' }, { value: '1000', label: '1000' }], required: true },
];

---

<Layout metadata={metadata}>
  <Headline 
  title={`Solicitar presupuesto para Calendarios ${tipoCalendario ? tipoCalendario.replace('-', ' ') : ''}`} 
  subtitle="Conéctate con nosotros para personalizar el calendario perfecto y promocionar tu marca todo el año." 
/>

  <!-- Componente ContactUs -->
  <ContactUs
    id="form-contact"
    method="GET"
    action="/api/send-email"
    inputs={inputs}
    tipo={tipoCalendario}
    disclaimer={{ label: 'Acepto las políticas de privacidad', required: true }}
    description="Nuestro equipo de soporte generalmente responde dentro de las 24 horas hábiles."
  />

  <div id="feedback" class="hidden p-4 text-white rounded-md"></div>

  <Features2
    title="¡Estamos aquí para ayudarte!"
    items={[
      {
        title: 'Atención al cliente',
        description: '¿Tienes preguntas sobre cómo personalizar tus calendarios? Llámanos y uno de nuestros asesores te guiarán paso a paso en la creación del calendario ideal para tu empresa, desde la elección del tipo de calendario hasta los acabados finales. Te ayudamos a hacer realidad tu proyecto.',
      },
      {
        title: 'Consulta de precios',
        description: '¿Necesitas un presupuesto? Contáctanos y te ayudaremos a obtener un precio personalizado para tus calendarios. Disponemos de múltiples opciones y ofertas especiales para grandes volúmenes.',
      },
      {
        title: 'Asesoramiento en diseño',
        description: '¿Buscas el diseño perfecto para tus calendarios? Nuestro equipo de expertos puede orientarte en la selección de plantillas, combinaciones de colores, tipos de impresión y más para que tus calendarios tengan un impacto visual que destaque.',
      },
      {
        title: 'Teléfono',
        description: '+34 932 749 890',
        icon: 'tabler:headset',
      },
      {
        title: 'Correo electrónico',
        description: 'comercial@reprodisseny.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Ubicación',
        description: 'Juan de Mena, 19, Barcelona, España',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const tipoCalendario = urlParams.get('tipo_calendario');

    const form = document.getElementById('form-contact');
    
    if (form && tipoCalendario) {
      // Crear un input oculto para "tipo_calendario"
      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'tipo_calendario';
      hiddenInput.value = tipoCalendario;
      form.appendChild(hiddenInput);

      // Ocultar el selector de tipo_calendario si está presente
      const tipoSelect = form.querySelector('select[name="tipo_calendario"]');
      if (tipoSelect && tipoSelect.parentNode instanceof HTMLElement) {
      tipoSelect.parentNode.style.display = 'none';
      }
    }
  });
</script>