---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Headline from '~/components/ui/Headline.astro';

const params = Astro.url.searchParams;
let calendarType = params.get('type') ?? '';
let calendarTitle = 'mesa espiral';

switch (calendarType) {
  case 'mesa-espiral':
    calendarTitle = 'Solicitud de precio calendario de mesa espiral';
    calendarType = 'Mesa Espiral';
    break;
  case 'pared-revista':
    calendarTitle = 'Solicitud de precio calendario de pared tipo revista';
    calendarType = 'Pared Revista';
    break;
  case 'pared-espiral':
    calendarTitle = 'Solicitud de precio calendario de pared con espiral';
    calendarType = 'Pared Espiral';
    break;
  case 'mesa-triangular':
    calendarTitle = 'Solicitud de precio calendario de mesa triangular';
    calendarType = 'Mesa Triangular';
    break;
  default:
    calendarTitle = 'Solicitud de presupuesto para tus Calendarios Personalizados';
    calendarType = '';
    break;
}

const metadata = {
  title: calendarTitle,
  description: `Formulario de solicitud de presupuesto para ${calendarType} personalizado en Barcelona.`,
};

---

<Layout metadata={metadata}>
  <Headline 
      title={calendarTitle}
      subtitle="Conéctate con nosotros para personalizar el calendario perfecto y promocionar tu marca todo el año." 
    />


  <ContactUs calendarType={calendarType} />

  <!-- Elemento de feedback para mostrar el estado del formulario -->
  <div id="feedback" class="hidden p-4 text-white rounded-md"></div>

  <Features2
    title="¡Estamos aquí para ayudarte!"
    items={[
      {
        title: 'Atención al cliente',
        description: '¿Tienes preguntas sobre cómo personalizar tus calendarios? Llámanos y uno de nuestros asesores te guiarán paso a paso en la creación del calendario ideal para tu empresa, desde la elección del tipo de calendario hasta los acabados finales. Te ayudamos a hacer realidad tu proyecto.',
      },
      {
        title: 'Consulta de precios',
        description: '¿Necesitas un presupuesto? Contáctanos y te ayudaremos a obtener un precio personalizado para tus calendarios. Disponemos de múltiples opciones y ofertas especiales para grandes volúmenes.',
      },
      {
        title: 'Asesoramiento en diseño',
        description: '¿Buscas el diseño perfecto para tus calendarios? Nuestro equipo de expertos puede orientarte en la selección de plantillas, combinaciones de colores, tipos de impresión y más para que tus calendarios tengan un impacto visual que destaque.',
      },
      {
        title: 'Teléfono',
        description: '+34 932 749 890',
        icon: 'tabler:headset',
      },
      {
        title: 'Correo electrónico',
        description: 'comercial@reprodisseny.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Ubicación',
        description: 'Juan de Mena, 19, Barcelona, España',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const form = document.getElementById('form-contact') as HTMLFormElement | null;
  const feedback = document.getElementById('feedback') as HTMLDivElement | null;
  const telefonoInput = form?.querySelector('input[name="telefono"]') as HTMLInputElement | null;
  const privacidadInput = form?.querySelector('input[name="disclaimer"]') as HTMLInputElement | null;

  if (!form || !telefonoInput || !privacidadInput) {
    console.error("Error: No se encontraron algunos elementos del formulario.");
    return;
  }

  function validateTelefono(showError = false) {
    const telefonoValue = telefonoInput?.value.trim();
    
    if(!telefonoValue) {
      return
    }
    const isValid = /^[0-9]{9}$/.test(telefonoValue);
    
    if (showError || telefonoValue !== '') {
      telefonoInput?.classList.toggle('border-red-500', !isValid);
    }

    return isValid;
  }

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    if (validateTelefono(true) && privacidadInput.checked) {
      try {
        const formData = new FormData(form);
        const formDataObject = Object.fromEntries(formData.entries());

        const response = await fetch('/api/send-email', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(formDataObject),
        });

        if (response.ok) {
          if (feedback) {
            feedback.textContent = 'Correo enviado correctamente';
            feedback.classList.remove('hidden', 'bg-red-500');
            feedback.classList.add('bg-green-500');
          }
          form.reset();
        } else {
          if (feedback) {
            feedback.textContent = 'Error al enviar el correo';
            feedback.classList.remove('hidden', 'bg-green-500');
            feedback.classList.add('bg-red-500');
          }
        }
      } catch (error) {
        if (feedback) {
          feedback.textContent = 'Error en el envío del formulario';
          feedback.classList.remove('hidden', 'bg-green-500');
          feedback.classList.add('bg-red-500');
        }
        console.error('Error:', error);
      }
    }
  });
});
</script>
